<%- include("partials/header.ejs") %>

<div class="container">
    <div class="row justify-content-center">
        <% if(typeof login !== "undefined") {%>
            <div class="col-8">
                <div class="col-12 d-flex justify-content-center p-1" style="margin-top: 2rem;">
                    <a href="/tanarok" class="btn btn-sm btn-primary"><i class="far fa-trash-alt"></i>Tanárok</a>
                </div>
                <div class="col-12 d-flex justify-content-center p-1">
                    <a href="/tanar/add" class="btn btn-sm btn-success"><i class="far fa-trash-alt"></i>Tanár hozzáadása</a>
                </div>   
                <div class="col-12 d-flex justify-content-center p-1">
                    <a href="/diakok" class="btn btn-sm btn-primary"><i class="far fa-trash-alt"></i>Diákok</a>
                </div>
                <div class="col-12 d-flex justify-content-center p-1">
                    <a href="/diak/add" class="btn btn-sm btn-success"><i class="far fa-trash-alt"></i>Diák hozzáadása</a>
                </div>
            </div>
        <% }  else { %>

        <div class="col-8">
            <h2>Bejelentkezés</h2>
            <% if (typeof error !== 'undefined') { %>
                <div class="alert alert-danger"><%= error %></div>
            <% } %>
            <form method="POST">
                <div class="form-group">
                    <label for="pass">Jelszó</label>
                    <input type="password" class="form-control" id="pass" name="pass">
                </div>
                <input type="submit" class="btn btn-primary" value="Belépés"/>
            </form>
        </div>

        <% } %>

    </div>
</div>
  
<%- include("partials/footer.ejs") %>